page-addon-evaluate-input-info {
	
    .box-bg {
        background-image: url('../assets/img/evaluate.svg')!important;   
        background-position: bottom!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
    }
    .box {
        padding: 8px;
        margin: 0px;
        background: #008543;
        height: 555px;
        /*border: 1px solid #dddddd;*/
        color: #e1ede3;
        /*height: 100%;*/
    	
    	/*position: relative; */
    	form {
    		display: flex;
    	    flex-direction: column;
    	    height: 100%;
    	    padding: 10px;
            color: #e1ede3;
    	}
        
        .inputs-control{
        	/*height: 74%;*/
            height: 350px;
        	ion-item {
        		background-color: unset;
        		margin-bottom: 10px !important;
        		padding-left: unset !important;
        	}
        	input {
        		color: #e1ede3;
        	}
        	input::placeholder {
        		color: #e1ede3;
        	}
        }
        .submit-control{
        	
            left: 10px;
            right: 10px;
        }
    }
    @media (min-width: 576px) {
        core-loading {
            max-width: unset !important;
            height: 100%;
      }
    }
}